<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <!--
   **************************************************************************
    Context configuration 
   **************************************************************************
   -->

  <display-name>Online help services</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!--
   ************************************************************************** 
    REST support 
   **************************************************************************
   -->

  <!-- Restlet adapter -->  
  <servlet>  
    <servlet-name>HelpContentServlet</servlet-name>  
    <servlet-class>com.sibvisions.apps.help.ServerServlet</servlet-class>
    
    <init-param>
      <!-- Application class name -->
      <param-name>org.restlet.application</param-name>
      <param-value>com.sibvisions.apps.help.ServiceAdapter</param-value>
    </init-param>

    <init-param>
      <param-name>session-timeout</param-name>
      <param-value>10</param-value>
    </init-param>
    
    <init-param>
      <param-name>cors.origin</param-name>
      <param-value>*</param-value>
    </init-param>
    
    <init-param>
      <param-name>json.prettyPrint</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>  
  
  <servlet-mapping>  
    <servlet-name>HelpContentServlet</servlet-name>  
    <url-pattern>/services/help/*</url-pattern>  
  </servlet-mapping> 
  
</web-app>