:root {
    --topbar-background: #7a7f85;
    --topbar-color: #ffffff;
    --topbar-height: 60px;

    --menu-background: #fafafa;
    --menu-border: 1px solid rgba(120,130,140,.13);
    --menu-width: 240px;
    --menu-activeitem-color: #2196F3;
    
    --menu-item-hover-background: #e9ecef;
    --menu-item-header-padding: 1rem 1rem 1rem 0.625rem;
    --menu-item-sub-padding: 1rem 1rem 1rem 1.5rem;

    --iconHeight: 20px;
    --iconWidth: 20px;
}

.online-help-main {
    height: 100vh;
    display: flex;
}

.online-help-topbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--topbar-height);
    padding: 0 1rem;
    background: var(--topbar-background);
    // -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6); 
    // box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);
}

.online-help-topbar-header {
    display: flex;
    flex-direction: column;

    color: var(--topbar-color);

    .online-help-topbar-header-top {
        font-size: 18px;
        font-weight: bold;
    }

    .online-help-topbar-header-bottom {
        font-size: 14px;
    }
}

.online-help-menu-wrapper {
    :focus {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }

    position: fixed;
    width: var(--menu-width);
    height: calc(100% - var(--topbar-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--topbar-height);
    background: var(--menu-background);
    border-right: var(--menu-border);
    border-top: var(--menu-border);

    .search-wrapper {
        margin: 0.5rem 0;
        width: 95%;

        .p-inputtext {
            width: 100%;
        }

        .clear-icon {
            cursor: pointer;
            padding: 0.25rem;
            border-radius: 50%;
            right: 0.25rem;
            margin-top: -0.75rem;
            transition: background-color .2s;

            &:hover {
                background: #e9ecef;
            }
        }
    }

    #online-help-menu.search-mode-enabled {
        display: none;
    }

    #online-help-listbox {
        display: none;
        width: 100%;
        border: none;
        background: var(--menu-background);

        &.search-mode-enabled {
            display: block;
        }

        .p-listbox-item {
            padding: var(--menu-item-header-padding);

            &.p-highlight {
                background: var(--menu-background);
                color: var(--menu-activeitem-color);

                &:hover {
                    background: #e9ecef;
                }
            }

            .search-item {
                display: flex;
    
                .search-item-icon {
                    width: var(--iconWidth);
                    height: var(--iconHeight);
                    margin-right: 0.5rem;
                }
    
                .search-item-text {
                    font-size: 1rem;
                }
            }
        }
    }

    .p-panelmenu {
        width: 100%;

        .p-panelmenu-header > a {
            border: none;
            background: var(--menu-background);
            padding: var(--menu-item-header-padding);

        }

        .p-panelmenu-icon {
            position: absolute;
            left: calc(var(--menu-width) - 30px);
            margin-right: 0;
        }

        .p-menuitem-icon {
            width: var(--iconWidth);
            height: var(--iconHeight);
        }

        .p-panelmenu-content {
            border: none;
            background: var(--menu-background);

            .p-menuitem .p-menuitem-link {
                padding: var(--menu-item-sub-padding);

                &:not(.p-disabled):hover {
                    background: var(--menu-item-hover-background)
                }
            }
        }

        .custom-menu-icon {
            .p-menuitem-icon {
                display: inline-block;
                background-image: var(--iconImage);
                background-size: var(--iconWidth);
            }
        }

        .item-active {
            > .p-panelmenu-header > .p-panelmenu-header-link, > .p-menuitem-link {
                > .p-menuitem-text {
                    color: var(--menu-activeitem-color);
                }
            }
        }
    } 
}

.online-help-content {
    margin-top: var(--topbar-height);
    margin-left: var(--menu-width);
    flex: 1 1;
}